<?xml version="1.0" ?>
<!--
  ~ Copyright 2019 Vipps
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
  ~    documentation files (the "Software"), to deal in the Software without restriction, including without limitation
  ~ the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
  ~  and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
  ~ TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON INFRINGEMENT. IN NO EVENT SHALL
  ~ THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
  ~ CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  ~ IN THE SOFTWARE.
  -->
<config>
    <modules>
        <Vipps_Payment>
            <version>0.1.0</version>
        </Vipps_Payment>
    </modules>
    <global>
        <helpers>
            <vipps_payment>
                <class>Vipps_Payment_Helper</class>
            </vipps_payment>
        </helpers>
        <models>
            <vipps_payment>
                <class>Vipps_Payment_Model</class>
                <resourceModel>vipps_payment_resource</resourceModel>
            </vipps_payment>
            <vipps_payment_resource>
                <class>Vipps_Payment_Model_Resource</class>
                <entities>
                    <jwt>
                        <table>vipps_payment_jwt</table>
                    </jwt>
                    <profiling>
                        <table>vipps_profiling</table>
                    </profiling>
                    <quote>
                        <table>vipps_quote</table>
                    </quote>
                    <quote_attempt>
                        <table>vipps_quote_attempt</table>
                    </quote_attempt>
                </entities>
            </vipps_payment_resource>
        </models>
        <resources>
            <vipps_payment_setup>
                <setup>
                    <module>Vipps_Payment</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </vipps_payment_setup>
        </resources>
    </global>
    <default>
        <payment>
            <vipps>
                <model>VippsFacade</model>
                <title>Vipps</title>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_initialize>0</can_initialize>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_capture_partial>1</can_capture_partial>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_use_internal>1</can_use_internal>
                <environment>develop</environment>
            </vipps>
        </payment>
        <vipps>
            <order_cancellation>
                <type>manual</type>
                <attempts_count>3</attempts_count>
                <customer_inactivity_time>10</customer_inactivity_time>
                <quote_storage_period>60</quote_storage_period>
            </order_cancellation>
        </vipps>
    </default>
</config>
